@import "colors.css";

body {
    font-size: 16px;
}

main {
    padding-top: 1rem;
    margin-left: 270px;
}



/* video */

#my-video {
    width: 100%;
}

/*Pagination*/

.pagination li.active {
    background: #ACCB17;
    color: white;
}