/* colors */

.sucon-background-green {
    background: #ACCB17;
}

.sucon-background-green-darker {
    background: #96B114;
}

.sucon-text-green {
    color: #ACCB17;
}

.sucon-background-orange {
    background: #ECB104;
}

.sucon-text-orange {
    color: #ECB104;
}