/* colors */

.sucon-background-green {
    background: #ACCB17 !important;
}

.sucon-background-green-darker {
    background: #96B114 !important;
}

.sucon-text-green {
    color: #ACCB17 !important;
}

.sucon-background-orange {
    background: #ECB104 !important;
}

.sucon-text-orange {
    color: #ECB104 !important;
}